<header class="header">
  <h1>Thomas Castro</h1>
  <nav>
    <a href="/Home/#sobre">Sobre</a>
    <a href="/Home/Habilidades">Skills</a>
    <a href="/Home/#projetos">Projetos</a>
    <a href="/Home/Contato">Contato</a>
  </nav>
</header>
