
.img1{
    width: 100%;
    height: auto;
    
}

.card{
  padding: 0px;
  background-color:var(--bg);
  height: 100%;
  border-radius: 0px;
}.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

}
.banner-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    z-index: 1;
}