@{
    ViewData["Title"] = "Portfólio";
    Layout = "_Layout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css">
  <link rel="stylesheet" href="~/css/Projetos.css">
  <link rel="stylesheet" href="~/css/Habilidades.css">
  <link rel="stylesheet" href="~/css/ProjetosCss/AurumLegacy.css">

  <link rel="stylesheet" href="hero.css">
}

<section class="hero">
  <canvas id="particles-canvas"></canvas>
  <div class="hero-grid">
    
    <div class="hero-text">
      <h2>AurumLegacy</h2>

    </div>

    <div class="hero-photo">
      Projetos acadêmicos desenvolvidos durante minha faculdade.
    </div>

  </div>
</section>



<section id="projetos" class="section">
  <h3>Protótipos</h3>

  <div class="cards">
        <div class="card">
            <img src="~/img/Tela Entrada.png" alt="Aurum Legacy Screenshot 1" class="img1"/>
        </div>
        <div class="card">
            <img src="~/img/Tela Home.png" alt="Aurum Legacy Screenshot 1" class="img1"/>
        </div>
        <div class="card">
            <img src="~/img/Tela Produto.png" alt="Aurum Legacy Screenshot 1" class="img1"/>
        </div>
    
  </div>
</section>




@section Scripts {
  
}
