@{
    ViewData["Title"] = "Portfólio";
    Layout = "_Layout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css">
  <link rel="stylesheet" href="~/css/Projetos.css">
  <link rel="stylesheet" href="~/css/Habilidades.css">
}

<section class="hero">
  <canvas id="particles-canvas"></canvas>
  <div class="hero-grid">
    
    <div class="hero-text">
      <h2>Projetos</h2>

    </div>

    <div class="hero-photo">
      Projetos acadêmicos desenvolvidos durante minha faculdade.
    </div>

  </div>
</section>


<section id="projetos" class="section">
  <h3>Meus Projetos Facultativos</h3>

  <div class="cards">
    <a href="/Projetos/AurumLegacy" class="cardClick">
        <div class="card">
            <h4>Aurum Legacy</h4>
            <h5 class="SubText">E-commerce</h5>
            <p>E-commerce de carros usando ASP.NET Core e MVC.</p>
        </div>
    </a>

    <a asp-controller="Projetos" asp-action="PaintingLies"  class="cardClick">
        <div class="card">
          <h4>Painting Lies</h4>
          <h5 class="SubText">TCC - Jogo GdScript</h5>
          <p>Projeto de TCC, Jogo em GDScript com foco em lógica e gameplay.</p>
        </div>
    </a>

    <a href="" class="cardClick">
        <div class="card">
        <h4>Totem</h4>
        <h5 class="SubText">E-commerce totem de atendimento</h5>
        <p>Interface de autoatendimento inspirada em totens comerciais.</p>
        </div>
    </a>


    <a href="" class="cardClick">
        <div class="card">
          <h4>Participação de projeto Fabrica de software</h4>
          <h5 class="SubText">E-commerce</h5>
          <p>Participei do desenvolvimento de um sistema focado no desenvolvimento do estruturamento de documentação e IA para projetos.</p>
        </div>
    </a>
  </div>
</section>




@section Scripts {
  <script src="~/js/home.js"></script>
}
