@{
    ViewData["Title"] = "Portfólio";
    Layout = "_Layout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css">
  <link rel="stylesheet" href="~/css/Contato.css">
}

<section class="hero">
  <canvas id="particles-canvas"></canvas>
  <div class="hero-grid">
    
    <div class="hero-text">
      <h2>Contato</h2>
      <p>
        entre em contato por email ou whatsapp
      </p>
      <a href="#projetos" class="btnWhats">
        <img src="~/img/WhatsIcon.png" alt="Foto de Thomas Castro" Style="width: 25px; height: 25px">
      </a>
      <a href="#projetos" class="btnEmail">
        <img src="~/img/EmailIcon.png" alt="Foto de Thomas Castro" Style="width: 25px; height: 25px">
      </a>
    </div>

    <div class="hero-photo">
      sla
    </div>

  </div>
</section>

@section Scripts {
  <script src="~/js/home.js"></script>
}
