@{
    ViewData["Title"] = "Portfólio";
    Layout = "_Layout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css">
  <link rel="stylesheet" href="~/css/Contato.css">
}

<section class="hero">
  <canvas id="particles-canvas"></canvas>
  <div class="hero-grid">
    
    <div class="hero-text">
      <h2>Contato</h2>
      <p>
        Entre em contato por email ou whatsapp
      </p>
      <a href="https://wa.me" target="_blank" class="btnWhats">
        <img src="~/img/WhatsIcon.png" alt="Foto de Thomas Castro" Style="width: 20px; height: 20px">
      </a>
      <a href="mailto:thomaslcl.1610@gmail.com" class="btnEmail">
        <img src="~/img/EmailIcon.png" alt="Foto de Thomas Castro" Style="width: 20px; height: 20px">
      </a>
    </div>

    <div class="hero-photo">
      Entre em contato comigo para discutirmos assustos de sua relevância!
    </div>

  </div>
</section>

@section Scripts {
  <script src="~/js/home.js"></script>
}
