@{
    ViewData["Title"] = "Portfólio";
    Layout = "_Layout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css">
  <link rel="stylesheet" href="~/css/Habilidades.css">
}

<section class="hero">
  <canvas id="particles-canvas"></canvas>
  <div class="hero-grid">
    
    <div class="hero-text">
      <h2>Habilidades</h2>

    </div>

    <div class="hero-photo">
      Entre em contato comigo para discutirmos assustos de sua relevância!
    </div>

  </div>
</section>
<section id="skills" class="section">
  <div class="skills">
    <span>HTML</span><span>CSS</span><span>JavaScript</span>
    <span>ASP.NET</span><span>SQL Server</span>
    <span>Figma</span><span>Git</span>
  </div>
</section>




@section Scripts {
  <script src="~/js/home.js"></script>
}
