@{
    ViewData["Title"] = "Portfólio";
    Layout = "_Layout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css">
  <link rel="stylesheet" href="~/css/Habilidades.css">
  <link rel="stylesheet" href="~/css/Projetos.css">
}

<section class="hero">
  <canvas id="particles-canvas"></canvas>
  <div class="hero-grid">
    
    <div class="hero-text">
      <h2>Desenvolvedor em formação</h2>
      <p>
        Estudante de Análise e Desenvolvimento de Sistemas focado em Web,
        UI.
      </p>
      <a href="#projetos" class="btn">Ver Projetos</a>
    </div>

    <div class="hero-photo">
      <img src="~/img/me.png" alt="Foto">
    </div>

  </div>
</section>

<section id="sobre" class="section">
  <h3>Sobre mim</h3>
  <p>
    Sou estudante de ADS na FATEC Sorocaba, com formação técnica em Desenvolvimento de Sistemas.
    Tenho interesse em desenvolvimento web, design de interfaces e aplicações modernas.
      <br/>
      <br/>
    Busco aplicar na prática meus conhecimentos e sempre aprender com tudo.
  </p>
</section>

<section id="skills" class="section">
  <h3>Habilidades</h3>
  <div class="skills">
    <span>HTML</span><span>CSS</span><span>JavaScript</span>
    <span>ASP.NET</span><span>SQL Server</span>
    <span>Figma</span><span>Git</span><span>PhpMyAdmin</span>
  </div>
</section>
<section id="cursos" class="section">
  <h3>Cursos</h3>
  <div class="skills">
    <a href="#" class="cardClick course-modal-link" data-course="ingles" onclick="openModal('ingles'); return false;">
      <span>
        <img src="~/img/EUA.png" alt="USA Flag" class="flag-icon">
        Inglês
      </span>
    </a>
    <a href="#" class="cardClick course-modal-link" data-course="certificacoes" onclick="openModal('certificacoes'); return false;">
      <span>
        <img src="~/img/IBM.png" alt="USA Flag" class="flag-icon">
        Certificações
      </span>
    </a>
  </div>
</section>

<section id="projetos" class="section">
  <h3>Projetos</h3>
<div class="cards">
    <a href="/Projetos/AurumLegacy" class="cardClick">
        <div class="card">
            <h4>Aurum Legacy</h4>
            <h5 class="SubText">E-commerce</h5>
            <p>E-commerce de carros usando ASP.NET Core e MVC.</p>
        </div>
    </a>

    <a asp-controller="Projetos" asp-action="PaintingLies"  class="cardClick">
        <div class="card">
          <h4>Painting Lies</h4>
          <h5 class="SubText">TCC - Jogo GdScript</h5>
          <p>Projeto de TCC, Jogo em GDScript com foco em lógica e gameplay.</p>
        </div>
    </a>

    <a href="/Projetos/Totem" class="cardClick">
        <div class="card">
        <h4>Totem</h4>
        <h5 class="SubText">E-commerce totem de atendimento</h5>
        <p>Interface de autoatendimento inspirada em totens comerciais.</p>
        </div>
    </a>

    <a href="/Projetos/FabricaDeSoftware" class="cardClick">
        <div class="card">
          <h4>Participação de projeto Fabrica de software</h4>
          <h5 class="SubText">E-commerce</h5>
          <p>Participei do desenvolvimento de um sistema focado no desenvolvimento do estruturamento de documentação e IA para projetos.</p>
        </div>
    </a>
    </div>
</section>

<section id="extracurriculares" class="section">
  <h3>Onde Já Trabalhei</h3>
  <div class="cards">
    <div class="card">
      <h4>Panificadora central parque</h4>
      <p>
      carteira assinada como balconista em meio periodo, com um ano de atuação.
      </p>
    </div>
    <div class="card">
      <h4>Hospital Santo antônio votorantim</h4>
      <p>
      como cuidador de um paciente, não tive carteira assinada.
      
    </div>
  </div>
</section>

<section id="extracurriculares" class="section">
  <h3>Experiências Extracurriculares</h3>
  <div class="cards">
    <div class="card">
      <h4>Encontro com Empresas X</h4>
      <p>
        Participei de uma palestras e workshop sobre desenvolvimento web avançado e boas práticas de projeto,
        conectando teoria e prática com profissionais da área.
      </p>
    </div>

    <div class="card">
      <h4>Visitas Técnicas</h4>
      <p>
        Visita técnica com foco em metodologias ágeis e processos de desenvolvimento de software em ambiente corporativo.
      </p>
    </div>

    <div class="card">
      <h4>Participação de projeto Fabrica de software</h4>
      <p>
        Participei do desenvolvimento de um sistema focado no desenvolvimento do estruturamento de documentação e IA para projetos.
      </p>
    </div>
  </div>
</section>

<section id="contato" class="section">
  <h3>Contato</h3>
  <p>📧 thomaslcl.1610@gmail.com</p>
  <p>📱 (15) 98810-4873</p>
</section>

@section Scripts {
  <script src="~/js/particles.js"></script>
  <script src="~/js/home.js"></script>
  <script src="~/js/modal.js"></script>
}
